@model Web.Models.Session

@{
	ViewBag.Title = "Create a new session";
}

<h2>Create a New Session</h2>

@{
	ViewBag.FormMethod = "POST";
	ViewBag.SubmitUrl = Url.Action("Create");
	ViewBag.CancelUrl = Url.Action("Details", "Studies", new { id = Model.StudyId });	
}

@Html.Partial("EditorForm");
