@model Web.Models.Session

@{
	ViewBag.Title = "Session Log - " + Model.DisplayName();
	ViewBag.Breadcrumbs = new Dictionary<string, string>
	                      {
	                      	{ "Home", Url.Content("~/") },
							{ "Studies", Url.Action("Index", "Studies") },
							{ "Study: " + ViewBag.Study.Name, Url.Action("Details", "Studies", new { id = Model.StudyId }) },
							{ "Session: " + Model.DisplayName(), null }
	                      };
}

@section head {
	<script type="text/javascript" src="@Url.Content("~/Scripts/usablog/session.js")"></script>
}

<h2>@ViewBag.Title</h2>
<a href="@Url.Action("Edit", new { id = Model.Id })">Edit session</a>
<div id="details"></div>

<script type="text/javascript">
	$(function() {
		$.ajax({
				url:"@Url.Action("Edit", new { id = Model.Id })",
				type: 'GET',
				dataType: 'json',
				cache:false,
				success: function (data) {
					var options = { modelJson: data };
					window.sessionController = new SessionController($("#details"), options);
				}
		});
		

	});
</script>