@model Web.Models.Session

@{
	ViewBag.Title = "Edit Session - " + Model.DisplayName();
}

<h2>@ViewBag.Title</h2>

@{
	ViewBag.FormMethod = "POST";
	ViewBag.SubmitUrl = Url.Action("Edit", new { id = Model.Id });
	ViewBag.CancelUrl = Url.Action("Details", new {id = Model.Id});	
}

@Html.Partial("EditorForm");
