@model Web.Models.Session

@{
	ViewBag.Title = "Edit Session";
	ViewBag.Breadcrumbs = new Dictionary<string, string>
	                      {
	                      	{ "Home", Url.Content("~/") },
							{ "Studies", Url.Action("Index", "Studies") },
							{ "Study: " + ViewBag.Study.Name, Url.Action("Details", "Studies", new { id = Model.StudyId }) },
							{ "Session: " + Model.DisplayName(), null }
	                      };
}

<h2>Edit Session</h2>

@{
	ViewBag.FormMethod = "POST";
	ViewBag.SubmitUrl = Url.Action("Edit", new { id = Model.Id });
	ViewBag.CancelUrl = Url.Action("Details", new {id = Model.Id});	
}

@Html.Partial("EditorForm");
