@model dynamic

@{
	ViewBag.Title = "Login";
	Layout = null; // _Layout assumes you're logged in
}
<!DOCTYPE html>
<html>
	<head>
		@Html.Partial("htmlhead")
	</head>

	<body>
		<form method="POST" action="@Url.Action("Index","Login", new { ReturnUrl = Request.Params["ReturnUrl"] })">
			<label for="email">email</label>
			<input type="text" name="email" id="email" tabindex="1"/>
			<label for="password">password</label>
			<input type="password" id="password" name="password" tabindex="2"/>
			<div class="message"><span class="error">@ViewBag.ErrorText</span></div>
			<button type="submit">Log In</button>
		</form>
		<script>
		$(document).ready(function () {
			$("#email").focus();
		});
	</script>

	</body>
</html>

