@model dynamic

@{
	ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="POST" action="@Url.Action("Index","Login", new { ReturnUrl = Request.Params["ReturnUrl"] })">
	<label for="email">email</label>
	<input type="text" name="email" id="email" tabindex="1"/>
	<label for="password">password</label>
	<input type="password" id="password" name="password" tabindex="2"/>
	<div class="message"><span class="error">@ViewBag.ErrorText</span></div>
	<button type="submit">Log In</button>
</form>
<script>
$(document).ready(function () {
	$("#email").focus();
});
</script>
