@model dynamic

@{
	ViewBag.Title = "Create User";
}

<h2>Create User</h2>

<form method="POST" action="@Url.Action("Create","Login")">
	<label for="email">Email</label>
	<input type="text" name="Email" tabindex="1"/>
	<label for="password">Password</label>
	<input type="password" name="Password" tabindex="2"/>
	<div class="message"><span>@ViewBag.Message</span></div>
	<button type="submit">Create</button>
</form>