@model dynamic

@{
	ViewBag.Title = "Create User";
}

<form method="POST" action="@Url.Action("Create","Login")">
	<label for="email">email:</label>
	<input type="text" name="email" tabindex="1"/>
	<label for="password">password:</label>
	<input type="password" name="password" tabindex="2"/>
	<div class="message"><span class="error">@ViewBag.ErrorText</span></div>
	<button type="submit">Create</button>
</form>