<div class="log-entry">
	<span class="entry-time">${Usablog.Timer.formatElapsed(elapsedMillisecondsSinceSessionStart)}</span>
	<span class="entry-content ${tag}" title="${Usablog.LogEntry.formatTag(tag)}">${content}</span>
</div>