<div class="row">
	<div class="span8">
		<ol class="log">
		</ol>
		<div class="entry-area">
			<div class="alert alert-info">Press Enter to begin logging</div>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<div class="timer">
			</div>
			<div class="legend">
			</div>
		</div>
	</div>
</div>