<div class="accordion-heading finding-name">
	<button class="btn btn-mini add-selected-entries">
		<span class="icon-share-alt"></span>
	</button>
	${name}
</div>
<div class="accordion-body collapse finding-entries">
		
</div>