<div class="modal fade" id="tagHelp">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>About tags...</h3>
	</div>
	<div class="modal-body">
		<p>
			If you begin an entry with a tag (for example "/f"), it helps that entry carry some meaning in your analysis later. The available tags are...
		</p>
		<dl>
		{{each config}}
			<dt>/${$value.tag}: ${$value.name}</dt>
			<dd>${$value.help}</dd>
		{{/each}}
		</dl>
	</div>
</div>