<div class="timer-view well">
	<span class="current-time">${timer.elapsedFriendly()}</span>
	{{if status==="NotStarted" }}
	<button type="button" class="btn start-session">Start Session</button>
	{{/if}}
	{{if status==="InProgress" }}
	<button type="button" class="btn finish-logging">Finish Logging</button>
	{{/if}}
</div>