<!DOCTYPE html>
<html>
	<head>
		@Html.Partial("htmlhead")
		@RenderSection("head", false)
	</head>

	<body>
		<div class="container">
			@Html.Partial("nav")
			@RenderBody()
		</div>
	</body>
</html>
