<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link rel="shortcut icon" href="favicon.ico">
</head>

	<body>
		<a href="@Url.Action("Logout", "Login")">Log out</a>
		<a href="@Url.Action("Index", "Studies")">Studies</a>
		@RenderBody()
	</body>
</html>
