body 
{
	padding-top: 20px;
}

.navbar .nav > li > div 
{
	color: #999999;
	float: none;
	line-height: 19px;
	padding: 10px 10px 11px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

h2 .icon-pencil 
{
	vertical-align: baseline;
}

table.sessions-list tr td:first-child
{
	width: 20%;
}

.ui-datepicker-inline 
{
	margin-bottom: 8px;
}


/* Below is css-only hack to force the log input to the bottom of the viewport */
.log {
	padding-bottom: 50px;
	list-style: none;
	margin-left: 5px;
}

.entry-area {
	position: fixed;
	bottom: 0;
	width: 960px;
	background-color: #fff;
	border: solid 1px #000;
}

.entry-area form {
	margin-bottom: 10px;
}

.entry-area .logEntry {
	width: 99%;
}