body 
{
	padding-top: 20px;
}

.navbar .nav > li > div 
{
	color: #999999;
	float: none;
	line-height: 19px;
	padding: 10px 10px 11px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

h2 .icon-pencil 
{
	vertical-align: baseline;
}

table.sessions-list tr td:first-child
{
	width: 20%;
}

.ui-datepicker-inline 
{
	margin-bottom: 8px;
}


/* Below is css-only hack to force the log input to the bottom of the viewport */
.log {
	overflow-y: scroll;
	list-style: none;
	margin-left: 5px;
	margin-bottom: 5px;
}

.entry-area {
	background-color: #fff;
	
}

.entry-area .alert.alert-info {
	margin-bottom: 0;
}

.entry-area form {
	padding: 2px;
	margin-bottom: auto;
}

.entry-area .logEntry {
	width: 98%;
	margin: 0;
}

.log-entry {
	
}

.log-entry .entry-tag {
	font-weight: bold;
}

.log-entry .entry-time {
	color: #666666;
	font-size: 0.9em;
}

.log-entry .entry-content {
	
}